.wrap {
    min-height: 100vh;
    position: relative;
}

.container {
    position: relative;
    padding: 4rem 2rem;
}

.py {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.logo {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

i {
    padding: 0.8rem;
    font-size: 1.6rem;
    border-radius: 3px;
    cursor: pointer;
    @include transition;

    &:hover {
        color: $color-secondary;
    }
}


@include media-md {
    .container {
        padding: 2.8rem 1.5rem;
    }
}

@include media-sm {
    .container {
        padding: 2rem 1rem;
    }
}