.head {
    .caption {
        &.admin-search {
            height: auto;
        }

        .search {
            width: 98vw;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            height: 3.6rem;

            input[type="text"] {
                height: 100%;
                width: 80%;
                max-width: 40rem;
            }
        }
    }
}