header {
    position: sticky;
    top: 0;
    background-color: $color-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 5.5rem;
    padding: 1rem 2rem;
    // border-bottom: 1px solid $color-primary;
    // box-shadow: map-get($shadows, 'text');
    z-index: 9;

    .left-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        .burger {
            cursor: pointer;
            display: none;

            i {
                font-size: 2rem;
                padding: 0.5rem 0.5rem 0.5rem 0;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        div {
            font-weight: $fw-bold;
            cursor: pointer;

            a {
                padding: 0.6rem 1rem;
                @include transition;

                &:hover {
                    color: $color-secondary;
                }
            }

            i {
                font-size: $fs-body;
            }

            &.nav-dropdown {
                .product-text {
                    padding: 0.6rem 1rem;
                }

                .products-dropdown {
                    position: absolute;
                    top: 5.5rem;
                    left: 0;
                    width: 100vw;
                    background-color: $color-background;
                    box-shadow: map-get($shadows, 'text');
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    padding: 2rem;
                    display: none;
                    @include transition;

                    div {
                        &.gender-topics {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            margin: 1rem 0;
                            flex-wrap: wrap;
                            gap: 7rem;

                            .products {
                                display: flex;
                                align-items: start;
                                justify-content: start;
                                margin-top: 0.5rem;
                                gap: 5rem;

                                .categories {
                                    margin-top: 1rem;

                                    a {
                                        display: block;
                                        padding: 0.5rem 0;
                                    }
                                }

                            }
                        }

                    }

                    &.open {
                        display: block;
                        @include transition;
                    }
                }

            }
        }
    }

    .same-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        .working-icons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;

            li {

                &.search {
                    .search-icon {
                        display: none;
                    }

                    form {
                        background-color: $color-background;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        border-radius: 3px;
                        min-width: 30rem;
                        border-bottom: 1px solid $color-primary;

                        input {
                            flex: 1;
                            padding: 0.8rem 1.5rem;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }

                &.cart {
                    position: relative;

                    .badge {
                        position: absolute;
                        top: -0.3rem;
                        right: -0.3rem;
                        padding: 0.3rem 0.5rem;
                        border-radius: 100%;
                        font-size: $fs-us;
                        background-color: $color-tertiary;
                        color: $color-background;
                        box-shadow: map-get($shadows, 'text');
                        pointer-events: none;
                    }
                }
            }
        }
    }
}


/* Responsive Media */

@include media-lg {
    header {
        padding: 0.5rem;

        .same-part {
            .working-icons {
                li {

                    &.search {

                        .search-icon {
                            display: inline;
                        }

                        form {
                            position: absolute;
                            top: 6rem;
                            right: 0.5rem;
                            display: none;
                            @include transition;

                            input {
                                width: calc(100% - 3.6rem);
                            }

                            &.open {
                                display: block;
                                @include transition;
                            }
                        }

                    }

                }
            }

        }

    }
}

@include media-md {
    header {

        .left-part {
            .burger {
                display: inline;
            }
        }

        nav {
            position: absolute;
            top: 5.5rem;
            left: -32rem;
            background-color: $color-background;
            width: 32rem;
            height: calc(100vh - 5.5rem);
            overflow: auto;
            flex-direction: column;
            justify-content: start;
            gap: 0;
            @include transition;

            &>div {
                border-bottom: 1px solid $color-primary;
                padding: 1rem 2rem;
            }

            div {
                width: 100%;

                a {
                    padding: 1rem 0;
                    display: block;
                    width: 100%;
                }

                &.nav-dropdown {
                    .product-text {
                        padding: 0.5rem 0;
                    }

                    .products-dropdown {
                        position: relative;
                        top: 0;
                        width: 100%;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 0 0.5rem;

                        div {
                            &.gender-topics {
                                flex-direction: column;
                                margin: 0;
                                flex-wrap: nowrap;
                                gap: 2rem;

                                .products {
                                    flex-direction: column;
                                    gap: 1rem;
                                    margin-top: 0.5rem;
                                    margin-left: 0.5rem;

                                    .categories {
                                        margin-top: 1rem;
                                        margin-left: 0.5rem;

                                        a {
                                            padding: 1rem 0;
                                        }
                                    }

                                }
                            }

                        }
                    }
                }
            }

            &.open {
                left: 0;
                @include transition;
            }
        }


    }
}

@include media-sm {
    header {
        height: 4rem;
        padding: 0.2rem;

        .left-part {
            .logo {
                width: 8rem;
            }
        }

        nav {
            top: 4rem;
        }

        .same-part {
            .working-icons {
                gap: 0.2rem;

                li {
                    &.search {

                        form {
                            top: 4.5rem;
                            left: 50%;
                            width: 98vw;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }

    }
}