.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .feedback-container {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;

        .feedback {
            background-color: $img-holder;
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            h3 {
                margin-top: 0.5rem;
            }

            p {
                margin-top: 1rem;
            }
        }
    }
}