.stock-form {
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .img-holder {
            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            textarea {
                max-width: 124rem;
                min-width: 30rem;
                min-height: 20rem;
                max-height: 25rem;
            }
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: $fw-bold;
        }

        .selects {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            gap: 1rem;

            .select {
                select {
                    flex: 1;
                    width: 15rem;
                }

            }

        }

        .sizes {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            gap: 1rem;

            input {
                width: 10rem;
            }
        }
    }
}