.stock-head {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-stocks {

    .stocks-product {
        padding: 2rem 0;
        border-bottom: 1px solid $color-text;

        .product-head {
            display: flex;
            justify-content: space-between;

            h1 {
                span {
                    font-family: $ff-body;
                    font-size: $fs-sm;
                    font-weight: $fw-bold;
                }
            }
        }

        .img-container {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin: 1rem 0;

            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 3px;
            }

            .img {
                position: relative;
                width: 10rem;
                height: 10rem;

                a {
                    position: absolute;
                    top: -1rem;
                    right: -1rem;
                }
            }

            form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                input {
                    width: 22rem;
                }
            }

        }

        .edit {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 1rem;
            flex-wrap: wrap;

            .editables {
                flex: 1;
                min-width: 30rem;

                &.info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;

                    span.unit {
                        font-size: $fs-us;
                    }
                }

                .sizes {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    p {
                        font-weight: $fw-bold;

                        span {
                            font-weight: $fw-regular;
                        }
                    }
                }
            }

            .with-header {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .edit {
                .editables {
                    textarea {
                        min-width: 30rem;
                        max-width: 61.5rem;
                        min-height: 20rem;
                        max-height: 20rem;
                    }

                    .sizes {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: start;
                        flex-wrap: wrap;
                        gap: 1rem;

                        .size {

                            input {
                                width: 100%;
                                min-width: 15rem;
                            }

                            label {
                                font-weight: $fw-bold;
                                display: block;
                            }
                        }
                    }
                }
            }

        }
    }
}